
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Immobilier</title>

        <! -- Importing CDN Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>

        <! -- FIRST Section -->
        <section id="masthead">
            <div id="div_title">
                <h1>La recherche immobiliaire <p><strong>Avec Jb</strong></p></h1>
                <h2>Notre métier, notre passion n'attendez plus, faites-nous confiance</h2>
                
            </div>
        </section>


        <! -- SECOND Section -->
        <section id="recherche">


            <! -- ONE column for map / ONE column for result of research -->
            <div class="container">
              <div class="row">

                <! -- MAP DIV -->
                <div class="col-sm">
                    <div id="div_map"></div>
                    <div id="map"></div>
                </div>

                <! -- RESULT DIV -->
                <div class="col-sm">
                    <div id="div_search">

                        <! -- SEARCHING INPUT DIV -->
                        <h1>Votre recherche, notre recherche <em><span id="logo_span">avec Jb</span></em></h1>

                        <! -- TYPE OF INFRA -->
                        <div class="row" id="infra">
                            <div class="col-sm">
                                <input type="button" value="Maison" onclick="type_infra('maison')" class="input_infra">
                            </div>
                            <div class="col-sm">
                                <input type="button" value="Appartement" onclick="type_infra('appartement')" class="input_infra">
                            </div>
                        </div>

                        <input type="text" placeholder="Votre recherche de commune..." id="entrance_address">
                        <button type="button" class="btn btn-primary" id="button_valid_search">Valider</button>

                        <! -- LOADING DIV -->
                        <div id="loading">
                            <div><img src="/static/picture/home/loading.gif" id="loading_gif"></div>
                            <div id="text_chargement"><em>C h a r g e m e n t</em></div>
                        </div>

                        <! -- TEXT RESULT -->
                        <div id="text_search">
                            <h2 id="dress"></h2>
                            <div class="row" id="result_search">
                                <div class="col-sm">
                                    <p><img src="/static/picture/home/appart.png" id="appart"></p>
                                    <p id="appartement_prix"></p>
                                    <p id="piece_appart"></p>
                                    <p id="area_appart"></p>
                                </div>
                                <div class="col-sm">
                                    <p> <img src="/static/picture/home/house.png" id="house"></p>
                                    <p id="maison_prix"></p>
                                    <p id="piece_maison"></p>
                                    <p id="area_maison"></p>
                                </div>
                            </div>

                            <div id="nos_data"></div>

                            <! -- SEARCHING INPUT DIV -->
                            <div id="div_search2">
                                <input type="text" placeholder="Votre recherche..." id="entrance_address2">
                                <button type="button" class="btn btn-primary" id="button_valid_search2">Valider</button>
                            </div>


                        </div>
                    </div>
                    
                  
                </div>
              </div>
            </div>


            <div id="test"></div>




        
            
        </section>
        <div>Icons made by <a href="https://www.flaticon.com/authors/nhor-phai" title="Nhor Phai">Nhor Phai</a> from <a href="https://www.flaticon.com/"title="Flaticon">www.flaticon.com</a></div>
        <div>Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a></div>
    </body>





    <! -- Importing CDN Jquerry -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <! -- Importing GOOGLE MAP API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqJf5bBiufgiWCK34KcdmPt4Zhsp4oRCc&callback=initMap"
        async defer></script>
</html>


<style>

    /* --------------------------------------------TAG */
    body{
        text-align:center;
    }
    h2{
        margin-top:20px;
        font-size:1.5em;
    }
    ::-webkit-input-placeholder {
       font-style: italic;
    }


 /* -----------------------------------------------MASTHEAD */
 #masthead{
     min-height:50rem;
     position:relative;
     display:table;
     width:100%;
     height:auto;
     padding-top:8rem;
     padding-bottom:8rem;
     background:-webkit-gradient(
         linear,left top,
         right top,
         from(rgba(255,255,255,.1)),
         to(rgba(255,255,255,.1))),
         url(/static/home/home.jpg);
         background:linear-gradient(90deg,rgba(255,255,255,.1) 0,rgba(255,255,255,.1) 100%),
         url(/static/home/home.jpg);background-position:center center;
         background-repeat:no-repeat;
         background-size:cover
     }
     .masthead h1{
         font-size:4rem;margin:0;padding:0
      }
      @media (min-width:992px){
          .masthead{height:100vh
      }
      .masthead h1{
          font-size:5.5rem
      }
  }



  /* -------------------------------------------------------DIV MAP */
  #div_map{
    height:400px;
    background:url("/static/picture/home/pic.jpg")
  }
  #map{
    height:400px;
    display:none;
  }

 /* ---------------------------------------------------DIV RESEARCH */

 #div_title{
    margin-top:100px;
  }
 #recherche{
    height:600px;
    margin-top:100px;
  }
  #div_search{
    height:400px;
  }
  #entrance_address{
    margin-top:50px;
    width:100%;
    text-align:center;
    height:7%;
    font-size:1.5em;
  }
  #logo_span{
    font-size:0.9em;
  }
  #button_valid_search{
    font-size:1.4em;
    margin-top:3.5%;
  }
  #house{
    width:30px;
    height:auto;
  }
  #appart{
    width:30px;
    height:auto;
  }
  .input_infra{
    background:none;
    border:none;
    margin-top:100px;
    height:30px;
    font-weight:bold;
    font-size:1.6em;
  }
  .input_infra:hover{
    background:none;
    border:1px solid black;;
  }

  /* ----------------------------------------DIV LOADING RESEARCH */
  #loading{
    width:100%
    height:auto;
    display:none;
  }
  #loading_gif{
    width:30%;
    height:auto;
    margin:0;
  }
  #text_chargement{
    margin-top:-30px;
  }

  /* DIV RESEARCH 2 */
  #text_search{
    margin-top:4em;
    width:100%;
    height:auto;
    display:none;
  }
  #div_search2{
    margin-top:5em;
  }
                 
</style>



<script>

    //***************************GLOBAL VAR*****************************************
    var varTypeInfra = "";
    treatData = [];
    lattitude_data = 0;
    longitude_data = 0;



    //***************************USER PRESSED BUTTON********************************
    //WE RECUP IF USER SEARCH HOUSE OR APPARTEMENT
    function type_infra(type){
        varTypeInfra = type;
    };


    //WE RECUP DATA INFRA FROM INPUT
    function recup_data(div_name){
        var recuperation = document.getElementById(div_name).value;
        return recuperation;
    };


    //*************************DURING AJAX CALL**************************************

    //------------------------------------------------------------------DISPLAY
    //WE DISPLAY THE TEXT OF RESULT
    function result_display(){
        document.getElementById("text_search").style.display = "block";
    };


    //WE DISPLAY THE LOATDING LOGO
    function loading_display(){
        document.getElementById("loading").style.display = "block";
    };
    
    //------------------------------------------------------------------UNDISPLAY
    //WE UNDISPLAY THE TEXT OF RESULT

    function undsplay(div){
      document.getElementById(div).style.display = "none";
    };

    function display(div){
      document.getElementById(div).style.display = "block";
    };

    //-A EFFACER
    function result_undisplay(){
        document.getElementById("text_search").style.display = "none";
    };
    
    //WE UNDISPLAY THE FIRST INPUT AND BUTTON
    function display_none_input_one(){
        document.getElementById("entrance_address").style.display = "none";
        document.getElementById("button_valid_search").style.display = "none";
    };

    
    //WE UNDISPLAY LOADING
    function loading_undisplay(){
        document.getElementById("loading").style.display = "none";
    };

    //WE DELETE GOOGLE MAP TO PICTURE
    function put_background(){
        //Raise the current div (background picture)
        document.getElementById("div_map").style.display = "block";
        document.getElementById("map").style.display = "none";
    };

    //WE DELETE PICTURE TO GOOGLE MAP
    function raise_background(){
        //Raise the current div (background picture)
        document.getElementById("div_map").style.display = "none";
    };

    //WE RAISE INFRASTRUCTURE INPUTS
    function raise_infra(){
        document.getElementById("infra").style.display = "none";
    }    

    //-A EFFACER

    //*********************************AJAX FUNCTIONS********************************
    //AJAX CALL FOR MAP
    $("#button_valid_search").on("click", function(e){

      var recup = recup_data("entrance_address"); // Recup value from input
      display("loading") // displaying loading logo
      undsplay("infra")//display infra inputs

      display_none_input_one()//display inputs + button
      $.ajax({
        data:{
          'infra':varTypeInfra,
          'data':recup,
          csrfmiddlewaretoken:'{{csrf_token}}'
        },
          type:"POST",
      })
      .done(function(data){
          if (data.error){
              {}
          }
          else{
              verification = no_data(data);
              if(verification == true){
                unidsplay("loading");
                document.getElementById("nos_data").innerHTML = "oops nous n'avons rien la dessus <input type='button' value='Voir nos data' id='see_data'>";
                result_display(); // displaying text of result
              }
              else{


                display("loading") // displaying loading logo

                undsplay("loading")//display infra inputs
                undsplay("div_map")//elete picture
                
                undsplay("entrance_address")//Start input
                undsplay("button_valid_search")//Start button
                
                display("map") // displaying map
                display("text_search") // displaying text of result

                treatment_data_http(data)// treat data from ajax return
                recup_data_ajax()// recup lat and long data for google map
                initMap(lattitude_data, longitude_data); // put google map
  
            };
          };
      });
    });




    //*************************END AJAX CALL*******************************************

    //NO DATA
    function no_data(data){
        if(data == "Oups nous n'avons pas donnée voir nos données ?"){
            return true
        }
        else{
            return false
        }
    };

    
    //WE ENTRANCE DATA FROM SQL INTO AN ARRAY
    function treatment_data_http_step_ONE(data){

        var increment = ""
        var list = []
        for(var i = 0; i < data.length + 1; i++){
            if(data[i] == "[" || data[i] == "]" || data[i]  == "'"){
                {}
            }
            else if(data[i] == ","){
                list.push(increment)
                increment = ""
                counter = 0
            }
            else{
                increment += data[i]
            }
        }
        treatData.push(list);
    };


    //PART OF LATITUDE AND LONGITUDE
    function lat_and_long(counter, treatData){
        
        //DATA FOR LATTITUDE AND LONGITUDE
        if(counter == 8){
            lattitude_data = parseFloat(treatData)
        }
        if(counter == 9){
            longitude_data = parseFloat(treatData)
        }
    };


    //WE DISPLAY THE RESULT WE GET -----------------------------------------> recup_data_ajax()
    function display_result(appartement, len_appartement, maison, len_maison,
                            room_apart, len_room_appart, room_house, len_room_house,
                            area_appart, len_area_appart, area_house, len_area_house,
                            addresse_name){

        //Now we displaying it !!
        var appart_price = Math.round(appartement/len_appartement) + " euros en moyenne";
        var house_price = Math.round(maison/len_maison) + " euros en moyenne";
        var piece_house = Math.round(room_apart/len_room_appart) + " pièce en moyenne";
        var piece_aprt = Math.round(room_house/len_room_house) + " pièce en moyenne";
        var area_aprt = Math.round(area_appart/len_area_appart) + " mètre carré en moyenne";
        var area_houise = Math.round(area_house/len_area_house) + " mètre carré en moyenne";

        document.getElementById("appartement_prix").innerHTML = appart_price;
        document.getElementById("maison_prix").innerHTML = house_price;

        document.getElementById("piece_appart").innerHTML = piece_house;
        document.getElementById("piece_maison").innerHTML = piece_aprt

        document.getElementById("area_appart").innerHTML = area_aprt;
        document.getElementById("area_maison").innerHTML = area_houise;
        document.getElementById("dress").innerHTML = addresse_name;
    };



    //RECUP DATA FROM treatData TREATED ---------------------------> recup_data_ajax()
    function recup_data_ajax(){
        //We have data from sql database
        //it send us data.
        //We treating it. First data = Price seconde = typeof structure(house/appart)
        //thrid number of room and fourth the area space.

        //We have two variable: The house and the appart.
        //We need to do a mean of this


        //-----------------------------------variables
        var len_maison = 0
        var maison = 0
        var len_appartement = 0
        var appartement = 0

        var len_room_house = 0
        var room_house = 0

        var len_room_appart = 0
        var room_apart = 0

        var len_area_house = 0
        var area_house = 0
        var len_area_appart = 0
        var area_appart = 0

        var k_maison = false
        var k_appart = false

        var addresse_name = ""

        var var_w = 0
        counter = 0
        //-----------------------------------variables


        for(var i = 0; i < treatData.length; i++){
            for(var j = 0; j < treatData[i].length; j++){

                //--------------------------------------------------PART OF LATITUDE AND LONGITUDE****** COUNT == 0
                lat_and_long(counter, treatData[i][j])


                //DATA FOR PRICE OF IMMOVABLE
                if(counter == 0){
                    var_w += parseInt(treatData[i][j])

                }
                if(counter == 1 && treatData[i][j] == " Maison"){
                    maison += var_w
                    len_maison += 1
                    var_w = 0
                    k_maison = true
                }
                else if(counter == 1 && treatData[i][j] == " Appartement"){
                    appartement += var_w
                    len_appartement += 1
                    var_w = 0
                    k_appart = true
                }

                //------------------------------------------------------NUMBER OF ROOMS****** COUNT == 2
                if(counter == 2){
                    if(k_appart == true){
                        len_room_appart += 1
                        room_apart += parseInt(treatData[i][j])
                    }
                    else if(k_maison == true){
                        len_room_house += 1
                        room_house += parseInt(treatData[i][j])
                    }
                }

                if(counter == 2){
                    if(k_appart == true){
                        len_room_appart += 1
                        room_apart += parseInt(treatData[i][j])
                    }
                    else if(k_maison == true){
                        len_room_house += 1
                        room_house += parseInt(treatData[i][j])
                    }
                }


                //------------------------------------------------AREA OF THE STRUCTURE****** COUNT == 3
                if(counter == 3){
                    if(k_appart == true){
                        len_area_appart += 1
                        area_appart += parseInt(treatData[i][j])
                        k_appart = false
                    }
                    else if(k_maison == true){
                        len_area_house += 1
                        area_house += parseInt(treatData[i][j])
                        k_maison = false
                    }
                }

                //------------------------------------------------AREA OF THE STRUCTURE****** COUNT == 7
                if(counter == 7){
                    addresse_name = treatData[i][j]
                }


                //---------------------------------------------RE INIT COUNTER****** COUNT == 9
                if(counter == 9){
                    counter = -1
                    console.log("stoip")
                }
                counter += 1
            }
        }

        //Now we displaying it !!
        display_result(appartement, len_appartement, maison, len_maison,
                        room_apart, len_room_appart, room_house, len_room_house,
                        area_appart, len_area_appart, area_house, len_area_house,
                        addresse_name);
        
    };


    //HERE WE TRAITING HTTPRESPONSE
    function treatment_data_http(data){
        treatment_data_http_step_ONE(data)
    };

    function display_map_end_ajax(){
        document.getElementById("map").style.display = "block";
    };
        



    //*************************MAP INITIALISATION***********************************
    function initMap(lattitude_data, longitude_data){
        var options = {
            zoom:15,
            center:{lat:lattitude_data, lng:longitude_data}
        }
        var map = new google.maps.Map(document.getElementById("map"), options);
    };







    //*************************SECOND CALL AJAX***********************************
    //UNINDISPLAY RESULT
    function unindisplay_last_result(){
        document.getElementById("appartement_prix").innerHTML = "";
        document.getElementById("maison_prix").innerHTML = "";

        document.getElementById("piece_appart").innerHTML = "";
        document.getElementById("piece_maison").innerHTML = ""

        document.getElementById("area_appart").innerHTML = "";
        document.getElementById("area_maison").innerHTML = "";
        document.getElementById("dress").innerHTML = "";

    }

    
    //AJAX CALL THE SECOND INPUT
    $("#button_valid_search2").on("click", function(e){
      treatData = []
      unindisplay_last_result()//we delete last div
      var recup = recup_data("entrance_address2"); // Recup value from input
      loading_display(); // displaying loading logo
      raise_infra();//display infra inputs
      put_background()//re put picture instead google map
      result_undisplay() // delete result
      $.ajax({
        data:{
          'infra':varTypeInfra,
          'data':recup,
          csrfmiddlewaretoken:'{{csrf_token}}'
        },
          type:"POST",
      })
      .done(function(data){
          if (data.error){
              {}
          }
          else{
              verification = no_data(data);
              if(verification == true){
                document.getElementById("nos_data").innerHTML = "oops nous n'avons rien la dessus <input type='button' value='Voir nos data' id='see_data'>";
                loading_undisplay();
                result_display(); // displaying text of result
              }
              else{
                  loading_undisplay();
                  raise_background(); // delete picture
                  treatment_data_http(data)// treat data from ajax return
                  recup_data_ajax()// recup lat and long data for google map
                  initMap(lattitude_data, longitude_data); // put google map
                  display_map_end_ajax()// Displaying map
                  display_none_input_one(); // displaying none the first input
                  result_display(); // displaying text of result
            };
          };
      });
    });




    //*************************NO DATA CALL AJAX***********************************
    //AJAX CALL THE SECOND INPUT
    $("#button_valid_search2").on("click", function(e){
      treatData = []
      var recup = recup_data("entrance_address2"); // Recup value from input
      loading_display(); // displaying loading logo
      raise_infra();//display infra inputs
      put_background()//re put picture instead google map
      result_undisplay() // delete result
      $.ajax({
        data:{
          'infra':varTypeInfra,
          'data':recup,
          csrfmiddlewaretoken:'{{csrf_token}}'
        },
          type:"POST",
      })
      .done(function(data){
          if (data.error){
              {}
          }
          else{
              verification = no_data(data);
              if(verification == true){
                document.getElementById("nos_data").innerHTML = "oops nous n'avons rien la dessus <input type='button' value='Voir nos data' id='see_data'>";
                loading_undisplay();
                result_display(); // displaying text of result
              }
              else{
                  loading_undisplay();
                  raise_background(); // delete picture
                  treatment_data_http(data)// treat data from ajax return
                  recup_data_ajax()// recup lat and long data for google map
                  initMap(lattitude_data, longitude_data); // put google map
                  display_map_end_ajax()// Displaying map
                  display_none_input_one(); // displaying none the first input
                  result_display(); // displaying text of result
            };
          };
      });
    });



















    //******************AJAX PROTECTION**********************************************
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');


    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    
</script>






























